In [1]:
%%sql --database RetailDemo --container WebsiteData --output df_cosmos
SELECT c.Action, c.Price as ItemRevenue, c.Country, c.Item FROM c

In [3]:
df_cosmos

,Action,ItemRevenue,Country,Item
0,Purchased,22.50,Malawi,Athletic Shorts
1,Viewed,25.20,Virgin Islands,White Shirt
2,Added,25.20,Virgin Islands,White Shirt
3,Viewed,31.99,Serbia,Denim Jacket
4,Purchased,95.00,Venezuela,Suit Pant
...,...,...,...,...
2649,Added,90.00,Serbia,Dark Jeans
2650,Added,65.00,Heard Island and McDonald Islands,Black Dress
2651,Viewed,12.00,Uzbekistan,Sandals
2652,Viewed,120.00,Uruguay,Dress Shoes
2653,Purchased,130.00,Qatar,Red Dress